* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
}
.slider {
  overflow: hidden;
  max-width: 1000px;
  height: auto;
  background-color: #25282a;
  border: 2em solid #25282a;
}
input {
  display: none;
}

.slider-items {
  width: 500%;
  height: 100%;
  display: flex;
  border-radius: 5px;
}

.slider-items .item {
  width: 20%;
  transition: all 0.4s ease-in-out;
}

.slider-items .item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

#s1:checked ~ .slider-items .s1,
#s1:checked ~ .wrap-text-control .wrapper-block-text .block-text .s2 {
  margin-left: 0;
}
#s2:checked ~ .slider-items .s1,
#s2:checked ~ .wrap-text-control .wrapper-block-text .block-text .s2 {
  margin-left: -20%;
}
#s3:checked ~ .slider-items .s1,
#s3:checked ~ .wrap-text-control .wrapper-block-text .block-text .s2 {
  margin-left: -40%;
}
#s4:checked ~ .slider-items .s1,
#s4:checked ~ .wrap-text-control .wrapper-block-text .block-text .s2 {
  margin-left: -60%;
}
#s5:checked ~ .slider-items .s1,
#s5:checked ~ .wrap-text-control .wrapper-block-text .block-text .s2 {
  margin-left: -80%;
}

/* ************************************* */
.wrap-text-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.wrapper-block-text {
  overflow: hidden;
  max-width: 300px;
  height: auto;
}
.block-text {
  width: 500%;
  height: 100%;
  display: flex;
}

.block-text p {
  display: block;
  width: 20%;
  font: 300 20px/22px arial;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.slider-nav {
  display: flex;
}
.slider-nav .slider-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  cursor: pointer;
}

.nav-block {
  width: 10px;
  height: 10px;
  background-color: #71abfe;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.slider-nav-item:hover .nav-block {
  background-color: #fff;
}

#s1:checked ~ .wrap-text-control .slider-nav .sni1 .nav-block,
#s2:checked ~ .wrap-text-control .slider-nav .sni2 .nav-block,
#s3:checked ~ .wrap-text-control .slider-nav .sni3 .nav-block,
#s4:checked ~ .wrap-text-control .slider-nav .sni4 .nav-block,
#s5:checked ~ .wrap-text-control .slider-nav .sni5 .nav-block {
  background-color: transparent;
  border: 2px solid #71abfe;
}
#s1:checked ~ .wrap-text-control .slider-nav .slider-nav-item:hover .nav-block,
#s2:checked ~ .wrap-text-control .slider-nav .slider-nav-item:hover .nav-block,
#s3:checked ~ .wrap-text-control .slider-nav .slider-nav-item:hover .nav-block,
#s4:checked ~ .wrap-text-control .slider-nav .slider-nav-item:hover .nav-block,
#s5:checked ~ .wrap-text-control .slider-nav .slider-nav-item:hover .nav-block {
  border-color: #fff;
}
#s1:active ~ .wrap-text-control .slider-nav .slider-nav-item:hover .nav-block,
#s2:active ~ .wrap-text-control .slider-nav .slider-nav-item:hover .nav-block,
#s3:active ~ .wrap-text-control .slider-nav .slider-nav-item:hover .nav-block,
#s4:active ~ .wrap-text-control .slider-nav .slider-nav-item:hover .nav-block,
#s5:active ~ .wrap-text-control .slider-nav .slider-nav-item:hover .nav-block {
  background-color: #fff;
  border: 2px solid #71abfe;
}

@media (max-width: 812px) {
  .wrap-text-control {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .slider-nav {
    margin-bottom: 20px;
  }
  .wrapper-block-text {
    justify-content: flex-start;
    max-width: 100%;
  }
  .block-text p {
    font: 300 18px/20px arial;
  }
}
@media (max-width: 345px) {
  .block-text p {
    font: 300 14px/16px arial;
    text-align: center;
  }
}
